/* Basic styling */
/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    margin: 0;
} */

/* Progress bar container */
.progress-container {
    width: 90%;
    height: 30px;
    background-color: #e0e0e0;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 10px;
}

/* Progress bar itself */
.progress-bar {
    text-align: right;
    /* width: 0%;  This will be dynamically updated by JS */
    height: 100%;
    background-color: #4caf50;
    border-radius: 15px;
    transition: width 0.3s ease;
}

/* Percentage text */
.percentage {
    font-size: 24px;
    font-weight: bold;
    color: red;
    display: inline-block;
    background: #000;
    height: 30px;
    border-radius: 15px;
}
